page-login {

    .logoimgwdht{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;      
    }

    .bckgroundimg {
        background: url('./../assets/imgs/login_background.jpg') no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
    }

    .logoimgpos img {
        position: relative;
        opacity: 1;
        z-index: 999;
        margin-bottom: -7vh;
    }

    .center {
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    div.image {
     overflow: hidden;
     display: block;
     content:url('./../assets/imgs/loginBak.png');
     }



    
}
