page-sourcelist {

    .sourceleadlistdesign{
        border:1.5px solid #9498b6;
        background: #d2d5e9;
        border-radius: 2vw;
        margin:2vh; 
        padding:1.5vh;
    }

    .sourcefont{
        font-size: 3vw;
    }

}
