// http://ionicframework.com/docs/theming/

@import "../../node_modules/ionic2-auto-complete/auto-complete";

// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app

#notification-button {            
    position: relative;
    width: 42px;
    top:1px;
    right: 1px;
    overflow: visible!important;
}


#notifications-badge {
    background-color: red;
    position: absolute;
    top: -3px;
    right: -3px;
    border-radius: 100%;
}


.vl {
    border-left: 2px solid green;
    height: 8vh;
}

.appbackcolor{
    background:#6D28A7;
    background-image: url('./../assets/imgs/background.png');
    background-size:cover;   
    background-position: center;   
}

.footerbottomargin{
    margin-bottom: 8vh;
    // padding-bottom: 10vh;
}

.datediv{
    opacity: 0.7;
    color: black;
    background: #d2bde6;
    border-radius: 3vw;
}

.datedivpadding{
    padding:0.8vh;
}
.datecalendarcolor{
    color:#0E0438;
}

.sourceleadlistdesign{
    border:1.5px solid #9498b6;
    background: #d2d5e9;
    border-radius: 2vw;
    margin:2vh; 
    padding:5vh;
}

.iondivcss{
    background: white;
    margin:2vh;
    padding: 0.5vh;
    border-radius: 3vw;
}

.buttoncss{
    margin-top:1vh;
    width: 50vw;
}

.ioncardcss{
    background: white;
    border-radius: 3vw;
    height:auto;
    // overflow: hidden;
}

.dateleftpadding{
    padding-left: 4vw;
}

.datelabelfont{
    font-size: 5vw;
    // font-weight: bold;
}

.labelfonts{
    font-size: 4vw;
    font-weight: bold;
}

.answerfonts{
    font-size: 4vw;
    // font-weight: bold;
}

.ionitema{
    background: #d2d5e9;
    border-radius: 2vw;
    margin-bottom:0.5vh;
    font-size: 3vw;
    font-weight: bold;
}



