<!--
  Generated template for the NotificationsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar hideBackButton color="purplecolor">
        <ion-buttons left>
            <button ion-button menuToggle>
                <ion-icon name="menu"></ion-icon>
            </button>
        </ion-buttons>
        <ion-title text-center>
            NOTIFICATIONS
        </ion-title>
        <ion-buttons right>
            <header></header>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content padding>

    <div no-padding *ngIf="notificationList.length > 0">
    <ion-list *ngFor="let item of notificationList" no-padding style="margin-left:4vw">
  
        <div  no-padding *ngIf="item.notification_isread === '0' && notificationList.length > 0" class="unreadNotifyData">
            <img *ngIf="item.notification_scheduled_type === 'L' && item.notification_activitytype === 'Meeting' " src="assets/icon/L_blue2.png"
                alt="" class="dashlisticonimg">
            <img *ngIf="item.notification_scheduled_type === 'F' && item.notification_activitytype === 'Meeting' " src="assets/icon/F_blue2.png"
                alt="" class="dashlisticonimg">
            <img *ngIf="item.notification_scheduled_type === 'D' && item.notification_activitytype === 'Meeting' " src="assets/icon/D_blue2.png"
                alt="" class="dashlisticonimg">
            <img *ngIf="item.notification_scheduled_type === 'G' && item.notification_activitytype === 'Meeting' " src="assets/icon/D_blue2.png"
                alt="" class="dashlisticonimg">
            <img *ngIf="item.notification_scheduled_type === 'S' && item.notification_activitytype === 'Meeting' " src="assets/icon/S_blue2.png"
                alt="" class="dashlisticonimg">
            <img *ngIf="item.notification_scheduled_type === 'Q' && item.notification_activitytype === 'Meeting' " src="assets/icon/S_blue2.png"
                alt="" class="dashlisticonimg">

            <img *ngIf="item.notification_scheduled_type === 'L' && item.notification_activitytype === 'Call' " src="assets/icon/L_green1.png"
                alt="" class="dashlisticonimg">
            <img *ngIf="item.notification_scheduled_type === 'F' && item.notification_activitytype === 'Call' " src="assets/icon/F_green1.png"
                alt="" class="dashlisticonimg">
            <img *ngIf="item.notification_scheduled_type === 'D' && item.notification_activitytype === 'Call' " src="assets/icon/D_green1.png"
                alt="" class="dashlisticonimg">
            <img *ngIf="item.notification_scheduled_type === 'G' && item.notification_activitytype === 'Call' " src="assets/icon/D_green1.png"
                alt="" class="dashlisticonimg">
            <img *ngIf="item.notification_scheduled_type === 'S' && item.notification_activitytype === 'Call' " src="assets/icon/S_green1.png"
                alt="" class="dashlisticonimg">
            <img *ngIf="item.notification_scheduled_type === 'Q' && item.notification_activitytype === 'Call' " src="assets/icon/S_green1.png"
                alt="" class="dashlisticonimg">

            <img *ngIf="item.notification_scheduled_type === 'L' && item.notification_activitytype === 'To-Do' " src="assets/icon/L_orange3.png"
                alt="" class="dashlisticonimg">
            <img *ngIf="item.notification_scheduled_type === 'F' && item.notification_activitytype === 'To-Do' " src="assets/icon/F_orange3.png"
                alt="" class="dashlisticonimg">
            <img *ngIf="item.notification_scheduled_type === 'D' && item.notification_activitytype === 'To-Do' " src="assets/icon/D_orange3.png"
                alt="" class="dashlisticonimg">
            <img *ngIf="item.notification_scheduled_type === 'G' && item.notification_activitytype === 'To-Do' " src="assets/icon/G_orange3.png"
                alt="" class="dashlisticonimg">
            <img *ngIf="item.notification_scheduled_type === 'S' && item.notification_activitytype === 'To-Do' " src="assets/icon/S_orange3.png"
                alt="" class="dashlisticonimg">
            <img *ngIf="item.notification_scheduled_type === 'Q' && item.notification_activitytype === 'To-Do' " src="assets/icon/Q_orange3.png"
                alt="" class="dashlisticonimg">

            <div no-padding style="padding-left:-50px">
                {{item.notification_descripiton}}
                <hr> 
               <span style="font-size:3vw;font-weight: bold">  {{item.notification_updated_on | date:'dd-MMM-yyyy hh:mm a'}} </span>
            </div>
        </div>

        <div  no-padding *ngIf="item.notification_isread === '1' && notificationList.length > 0" class="readNotifyData">
            <img *ngIf="item.notification_scheduled_type === 'L' && item.notification_activitytype === 'Meeting' " src="assets/icon/L_blue2.png"
                alt="" class="dashlisticonimg">
            <img *ngIf="item.notification_scheduled_type === 'F' && item.notification_activitytype === 'Meeting' " src="assets/icon/F_blue2.png"
                alt="" class="dashlisticonimg">
            <img *ngIf="item.notification_scheduled_type === 'D' && item.notification_activitytype === 'Meeting' " src="assets/icon/D_blue2.png"
                alt="" class="dashlisticonimg">
            <img *ngIf="item.notification_scheduled_type === 'G' && item.notification_activitytype === 'Meeting' " src="assets/icon/D_blue2.png"
                alt="" class="dashlisticonimg">
            <img *ngIf="item.notification_scheduled_type === 'S' && item.notification_activitytype === 'Meeting' " src="assets/icon/S_blue2.png"
                alt="" class="dashlisticonimg">
            <img *ngIf="item.notification_scheduled_type === 'Q' && item.notification_activitytype === 'Meeting' " src="assets/icon/S_blue2.png"
                alt="" class="dashlisticonimg">

            <img *ngIf="item.notification_scheduled_type === 'L' && item.notification_activitytype === 'Call' " src="assets/icon/L_green1.png"
                alt="" class="dashlisticonimg">
            <img *ngIf="item.notification_scheduled_type === 'F' && item.notification_activitytype === 'Call' " src="assets/icon/F_green1.png"
                alt="" class="dashlisticonimg">
            <img *ngIf="item.notification_scheduled_type === 'D' && item.notification_activitytype === 'Call' " src="assets/icon/D_green1.png"
                alt="" class="dashlisticonimg">
            <img *ngIf="item.notification_scheduled_type === 'G' && item.notification_activitytype === 'Call' " src="assets/icon/D_green1.png"
                alt="" class="dashlisticonimg">
            <img *ngIf="item.notification_scheduled_type === 'S' && item.notification_activitytype === 'Call' " src="assets/icon/S_green1.png"
                alt="" class="dashlisticonimg">
            <img *ngIf="item.notification_scheduled_type === 'Q' && item.notification_activitytype === 'Call' " src="assets/icon/S_green1.png"
                alt="" class="dashlisticonimg">

            <img *ngIf="item.notification_scheduled_type === 'L' && item.notification_activitytype === 'To-Do' " src="assets/icon/L_orange3.png"
                alt="" class="dashlisticonimg">
            <img *ngIf="item.notification_scheduled_type === 'F' && item.notification_activitytype === 'To-Do' " src="assets/icon/F_orange3.png"
                alt="" class="dashlisticonimg">
            <img *ngIf="item.notification_scheduled_type === 'D' && item.notification_activitytype === 'To-Do' " src="assets/icon/D_orange3.png"
                alt="" class="dashlisticonimg">
            <img *ngIf="item.notification_scheduled_type === 'G' && item.notification_activitytype === 'To-Do' " src="assets/icon/G_orange3.png"
                alt="" class="dashlisticonimg">
            <img *ngIf="item.notification_scheduled_type === 'S' && item.notification_activitytype === 'To-Do' " src="assets/icon/S_orange3.png"
                alt="" class="dashlisticonimg">
            <img *ngIf="item.notification_scheduled_type === 'Q' && item.notification_activitytype === 'To-Do' " src="assets/icon/Q_orange3.png"
                alt="" class="dashlisticonimg">

            <div no-padding style="margin-left:-50px">
                {{item.notification_descripiton}}
                <hr>
                <span style="font-size:3vw;font-weight: bold">  {{item.notification_updated_on | date:'dd-MMM-yyyy hh:mm a'}} </span>
            </div>
        </div>

    </ion-list>
</div>
    <div class="footerbottomargin"></div>
</ion-content>

<floating-button> </floating-button>
<footerbar> </footerbar>