page-notifications {

    .listdesign{
        border:1px solid #0E0438;
        background: #D8DBEC;
        border-radius: 2vw;
        padding: 1vh; 
        margin-bottom:2vh;
   }

   .dashlisticonimg{
    position: relative;
    float:left;
    left:-13%;
    width: 18vw;
    height: 18vw;
}


}
