page-meeting {
    
    .pac-container {
        z-index: 10000 !important
       }
       
    .demo #search_places {
        border:none;
      }

      ion-icon {
        font-size: 8vw; //Preferred size here
    }


    
    //   .searchbar-search-icon { display:none; width:0; height:0; }
}

// .floating-icon{margin-top:40px!important;}