page-meetingupdate {

.lfdgsqboxcss{
    // overflow-x: scroll;
    border: 0.2em solid black;
    margin:0.5em;
    padding:0.5em;
    text-align: center;  
}

.active{
    border: 0.2em solid black;
    background: red;
    color:white;
}

}
