page-meetingupdate {

.lfdgsqboxcss{
    // overflow-x: scroll;
    border: 0.2em solid black;
    margin:0.5em;
    padding:0.5em;
    text-align: center;  
}

.active{
    border: 0.2em solid black;
    background: red;
    color:white;
}

.labelcss{
    padding:1vw;
    font-weight: bold;
    font-size: 3.5vw;
    padding-left: 4vw;
}

.labelcsswopadding{
    font-weight: bold;
    font-size: 3.5vw;
    // padding-left: 3vw;
}

.iontitlelabel{
        font-size: 4vw;
}

}
